{% extends 'base.html' %}
{% load static %}

{% block navbar %}{% endblock %}

{% block content %}
  <section class="bg-body-gradient overflow-hidden font-montserrat h-screen">
  <span
          class="flex bg-header-color justify-center items-center h-12 w-screen mb-6 tracking-wider text-header text-white font-semibold">
    Санкт-Петербургский университет МВД
  </span>
    <div class="flex flex-col items-center justify-center mx-auto drop-shadow-login-shadow h-screen">
      <div class="w-7/12 bg-white rounded-3xl shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="text-center pt-6 pb-6 space-y-4 md:space-y-5">
          <img src="{% static 'img/message.svg' %}" alt="" class="mx-auto" width="80"/>
          <h1 class="text-form tracking-wide drop-shadow-xl leading-tight text-black text-center">
            Пароль был успешно изменён!
          </h1>
          <div class="px-10">
            <p class="tracking-wide text-center text-sm">
              Новый пароль сотрудника:
              <span class="font-medium">
                {{ password }}
              </span>
            </p>
            <p class="tracking-wide text-center text-sm">
              Он так же был отправлен ему на электронную почту
            </p>
            <a href="{% url 'users:division' %}">
              <button type="button"
                      class="w-3/5 h-12 mt-5 text-white tracking-widest bg-button-color hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                Вернуться
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}{% endblock %}