{% load i18n %}{% autoescape off %}
  Вы получили это письмо потому было запрошено восстановление пароля от аккаунта на сайте {{ site_name }}.
  Пожалуйста, пройдите по следующей ссылке для его восстановления
  {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
  {% endblock %}
  Ваше имя пользователя в случае, если вы его забыли {{ user.get_username }}
  Спасибо, что используете нашу систему!
  С уважением, команда CRM "Swipe"
{% endautoescape %}