{% extends 'base.html' %}
{% load static %}

{% block navbar %}{% endblock %}

{% block content %}
  <!-- FIXME выравнивание по горизонтали по центру -->
  <section class="bg-body-gradient overflow-hidden font-montserrat h-screen">
    <span class="flex bg-header-color justify-center items-center h-12 w-screen mb-6 tracking-wider text-header text-white font-semibold">
      Санкт-Петербургский университет МВД
    </span>
    <div class="flex flex-col items-center justify-center mx-auto drop-shadow-login-shadow h-[85vh]">
      <div class="w-7/12 bg-white rounded-3xl shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="text-center pt-6 pb-6 space-y-4 md:space-y-5">
          <img src="{% static 'img/message.svg' %}" alt="" class="mx-auto" width="80"/>
          <h1 class="text-form tracking-wide drop-shadow-xl leading-tight text-black text-center">
            Письмо с инструкциями по восстановлению пароля отправлено!
          </h1>
          <div class="px-10">
            <p class="tracking-wide text-center text-sm">
              Если письмо не пришло на почту, пожалуйста убедитесь, что Вы ввели адрес почты с которым Вы
              зарегистрировались, и проверьте папку со спамом
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}{% endblock %}
