{% extends 'base.html' %}
{% load static %}

{% block navbar %}{% endblock %}

{% block content %}
  <!-- FIXME выровнять по центру горизонтали -->
  <section class="bg-body-gradient overflow-hidden font-montserrat h-screen">
  <span class="flex bg-header-color justify-center items-center h-12 w-screen mb-6 tracking-wider text-header text-white font-semibold">
    Санкт-Петербургский университет МВД
  </span>
    <div class="flex flex-col items-center justify-center mx-auto drop-shadow-login-shadow h-[85vh]">
      <div class="w-7/12 bg-white rounded-3xl shadow md:mt-0 sm:max-w-md xl:p-0">
        <div class="text-center pt-6 pb-6 space-y-4 md:space-y-6">
          <h1 class="text-form tracking-wide drop-shadow-xl leading-tight text-black text-center">
            Введите новый пароль
          </h1>
          <form class="space-y-4 md:space-y-6" method="post">
            <div>
              <label for="id_new_password1">Новый пароль:</label>
              {{ form.new_password1 }}
            </div>
            <div>
              <label for="id_new_password2">Подтвердите пароль:</label>
              {{ form.new_password2 }}
            </div>
            <button type="submit"
                    class="w-3/5 h-12 text-white tracking-widest bg-button-color hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
              Восстановить пароль
            </button>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}{% endblock %}