{% load static %}
<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block flowbite %}
    <link rel="stylesheet" href="{% static 'flowbite/dist/flowbite.min.css' %}">
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/dist/output.css' %}">
  <title>{% block title %}CRM "Swipe"{% endblock title %}</title>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
          integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  {% block head %}{% endblock head %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="bg-body-gradient font-montserrat h-screen">
{% block login %}{% endblock login %}
{% block navbar %}
  {% include 'src/_navbar.html' %}
{% endblock navbar %}

{% block content %}
{% endblock content %}

{% block footer %}
  {% include 'src/_footer.html' %}
{% endblock footer %}

<script src="{% static 'flowbite/dist/flowbite.min.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>