{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="w-full p-4 md:inset-0">
    <div class="relative w-full h-[90vh] flex justify-center items-center">
      <div class="px-6 py-6 lg:px-8 w-[48rem] mx-auto">
        <div class="font-normal bg-[#454D56;] rounded-lg text-[#FFFFFF] py-4 text-center">
          Редактирование сотрудника
        </div>
        <form class="space-y-6" method="post">
          <div class="mt-5 flex">
            <span class="w-1/4 pl-4 text-center inline-flex justify-center items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              Фамилия
            </span>
            {{ form.last_name }}
          </div>
          <div class="mt-5 flex">
            <span class="w-1/4 text-center inline-flex justify-center items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              Имя
            </span>
            {{ form.first_name }}
          </div>
          <div class="mt-5 flex">
            <span class="w-1/4 text-center inline-flex justify-center items-center text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              Отчество
            </span>
            {{ form.patronymic }}
          </div>
          <div class="mt-5 flex">
            <span class="w-1/4 text-center inline-flex justify-center items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              Должность
            </span>
            {{ form.position }}
          </div>
          <div class="mt-5 flex">
            <span class="w-1/4 text-center inline-flex justify-center items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              Начальник
            </span>
            <span class="pl-4 rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ form.is_staff }}
            </span>
          </div>
          <div class="mt-5 flex">
            <span class="w-1/4 text-center inline-flex justify-center items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              Электронная почта
            </span>
            {{ form.email }}
          </div>
          <button type="submit"
                  class="mt-5 py-4 w-full text-white bg-[#23629F] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Сохранить изменения
          </button>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}